$color-black: #181717;
$color-yellow:#FDE50D ;
$color-main: whitesmoke;
$main-trans: rgba(245, 245, 245, .82);
$black-trans: rgba(8, 8, 8, 0.808);



@mixin baw {
    background-color: $color-black;
    color: $color-main;  
}
@mixin bawt{
    background-color: $black-trans;
    color: $color-main;
}
@mixin wab{
    background-color: $color-main;
    color: $color-black;
}
@mixin bay {
    background: $color-yellow;
    color: $color-black;
    
}
@mixin yab {
    background: $color-black;
    color: $color-yellow;
    
}