.main__contact{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
    &__texto{
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        align-items: center;
        justify-items: center;
        width: 60%;
        position: relative;
        background-image: url(../media/contacto.jpeg);
        background-size: 100%;
        background-repeat: no-repeat;
        &__picture {
            display: flex;
            height: 300px;
            width: 80%;
            object-fit:cover;
            padding: .5rem;
            background-color: $black-trans;
            box-shadow: 5px 4px 7px rgb(54, 54, 54);
            position: absolute;
            top: 50%;
        }
        p{
           letter-spacing: .1rem;
           text-align: justify;
           font-size: 1.2rem;
           word-spacing: .1rem;
           margin: 1rem 10% 0 5%;
           background-color: $main-trans;
           border-radius: 2%;
           padding: 1rem;
           border-bottom: 2px dashed $color-black;
           box-shadow: 1px 1px 10px 4px $black-trans;

        }
 
    }
    &__form{
        display: flex;
        flex-direction: column;
        margin-top: 0%;
    }
}
@media only screen and (max-width: 480px) {
    .main__contact{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 100vw;
        &__texto{
            width: auto;
            margin-left: 0;
            padding: .4rem 0;
            h2{
                font-size: 1.3rem;
                letter-spacing: .1rem;
            }
            p{
                margin: .4rem 3rem;
                font-size: 1.24rem;
            }            
        }
    }
}