.main__index{
    display: flex;
    flex-direction: column;
    &__present{
        display: flex;
        object-fit: cover;
        &__vid{
            width: 100%;
            height: auto;
            border: .1rem solid;
        }
    }
    &__destacados{
        display: flex;
        flex-direction: column;
        padding: 1rem 1rem;
        &__cards{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
        }
    } 
}
@media only screen and (max-width: 480px) {
    .main__index{
        &__present{
            display: flex;
            flex-direction: column;
            object-fit: cover;
            height: auto;
            &__vid{
                display: none;
            }
        }
        &__destacados{
            &__cards{
                margin: .5rem 0 .5rem 1rem;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: center;
                align-content: center;
            }
        }
    }
}