.main__product{
    display: flex;
    flex-direction: column;
    h2{
        display: flex;
        font-size: 2.3rem;
        margin: 0 0 0 3rem;
    }
    &__cards{
        display: flex;
        flex-wrap: wrap;
    }
}  