.card{
    display: flex;
    flex-direction: column;
    margin: 3rem;
    width: 23vw;
    height: 30%;
    border: .1rem solid;
    &__thumbCard{
        display: flex;
        img{
        display: flex;
        width: 23vw;
        height: 30%;
        object-fit: cover;
        } 
    }
    &__content{
        display: flex;
        border-radius: 0 0 20px 20px;
        
        ul li{
            list-style: none;
            a{
                text-decoration: none;
            }
        }
        &__ul__item{
            display: flex;
            flex-direction: column;
            margin: .2rem .8rem;
            &__titu{
                display: flex;
                font-weight: 300;
                font-size: .7rem;
                text-transform: uppercase; 
                justify-content: flex-start;
                letter-spacing: .2rem;
                margin: .3rem .9rem;
                padding: .3rem;
                position: relative;
                @include baw;  
                border-left: 6px solid $color-yellow;
                user-select: none;
                z-index: 1; 
                transition: .1s ease-in;
                &:hover{
                    color: $color-black;
                    background-color: none;
                }
                &:hover::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $color-yellow;
                   
                }
                &::before{
                    content: "";
                    position: absolute;
                    top: 0%;
                    left:0%;
                    width: 0%;
                    height: 100%;
                    background-color: $color-yellow;
                    z-index: -1;
                    transition: .9s;
                }

            }
            &__cat{
                display: flex;
                justify-content: right;
                font-weight: 100;
                font-size: .7em;
                font-style: italic;   
                text-transform: uppercase; 
                letter-spacing: .2rem;
                word-spacing: .1rem;
                margin: 0 .9rem 0 0;
                padding: .1rem;


            }
            &__data{
                display: flex;
                font-weight: 200;
                font-size: .9rem;
                text-align: justify;
                margin: 0 .9rem 0 .7rem;
                word-spacing: .33rem;
                word-break: break-all;
                text-transform: capitalize; 
            }
        }
        &__ul__precio{
            display: flex;
            justify-content: center;
            margin: 1rem 0 0 0 ;
            letter-spacing: .3rem;

        }
        &__ul__boton{
            display: flex;
            justify-content: center;
            &__a{
                display: flex;
                text-align: center;
                padding: 1rem 2rem;
                margin: 1.2rem;
                border: .1rem solid;
                letter-spacing: .1rem;
                font-size: 1.5rem;
                color: $color-black;
                transition: .1s ease ;
                &:hover{
                    @include baw;
   
                }
            }
        }
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
    .card{
        display: flex;
        flex-direction: column;
        width: 33vw;
        border: .1rem solid;
        &__thumbCard{
            display: flex;
            img{
                display: flex;
                width: 33vw;
                height: auto;
            }  
        }
        &__content{
            display: flex;
            flex-direction: column;
            border-radius: 0 0 20px 20px;
            ul li{
                list-style: none;
                a{
                    text-decoration: none;
                }
            }
            &__ul__item{
                display: flex;
                flex-direction: column;
                &__titu{
                    display: flex;
                    font-weight: 200;
                    font-size: 1.3rem;
                    justify-content: center;
                    letter-spacing: .2rem;
                    
                }
                &__cat{
                    display: flex;
                    font-weight: 100;
                    font-size: .5em;    
                    letter-spacing: .2rem;
                    word-spacing: .1rem;
                    color: rgb(121, 121, 121);
                    justify-content: center;

                }
                &__data{
                    display: flex;
                    justify-content: center;
                    font-weight: 200;
                    font-size: 1rem;
                    text-align: center;
                    word-spacing: .1rem;
                    letter-spacing: 0;
                    word-break: break-all;
                }
            }
            &__ul__precio p{
                display: flex;
                justify-content: center;
                flex-direction: column;
                letter-spacing: .3rem;

            }
            &__ul__boton p{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                border: .1rem solid;
                &__a{

                    letter-spacing: .1rem;
                    font-size: 1rem;
                    padding: 1rem;
                }
            }
        }
    }

}



@media only screen and (max-width: 480px) {
    .card{
        display: flex;
        flex-direction: column;
        width: 80vw;
        border: .1rem solid;
        margin: 1rem 0;
        &__thumbCard{
            display: flex;
            img{
                display: flex;
                width: 80vw;
                height: auto;
            }  
        }
        &__content{
            display: flex;
            flex-direction: column;
            border-radius: 0 0 20px 20px;
            &__ul {
                padding-left: 0;
                li{
                    list-style: none;

                        a{
                            text-decoration: none;
                        }
                    }
            }
            &__ul__item{
                display: flex;
                flex-direction: column;
                &__titu{
                    display: flex;
                    font-weight: 200;
                    font-size: .9rem;
                    justify-content: center;
                    letter-spacing: .2rem;
                    
                }
                &__cat{
                    display: flex;
                    font-weight: 100;
                    font-size: .5em;    
                    letter-spacing: .2rem;
                    word-spacing: .1rem;
                    justify-content: center;

                }
                &__data{
                    display: flex;
                    justify-content: center;
                    font-weight: 200;
                    font-size: .9rem;
                    text-align: center;
                    word-spacing: .1rem;
                    letter-spacing: 0;
                    word-break: break-all;
                }
            }
            &__ul__precio p{
                display: flex;
                justify-content: center;
                flex-direction: column;
                letter-spacing: .3rem;
            }
            &__ul__boton{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                &__a{
                    letter-spacing: .1rem;
                    font-size: 1rem;
                    padding: 1rem;
                    border: .1rem solid;
                    text-align: center;
                    @include baw; 
                }
            }
        }
    }

}
