header{
    display: flex;
    justify-content: space-between;
    height: 25vh;
    @include wab();
    position: relative;
    a{
     font-weight: 300;
    }
    img{
        display: flex;
        height: 20vh;
        margin: 1rem;
        position: absolute;
        left: 46%;
        bottom: 0%;
        padding: 1rem;
        
    }
}
.nav__one{
    display: flex;
    align-items: center;
    &__ul{
        display: flex;
        list-style: none;
        margin-right: 1rem ; 
        &__item {
            list-style: none; 

            &__link{
                position: relative;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 100;
                padding: .7rem;
                margin: .5rem;
                letter-spacing: .1rem;
                text-transform: uppercase;
                color: $color-black;
                z-index: 1;
                &:hover{
                    color: $color-main;
                }
            } 
            &__link::before{
                content: "";
                width: 0%;
                height: 2rem;
                background: $color-black;
                position: absolute;
                z-index: -1;
                bottom: 20%;
                right: 0%;
                transition: .5s;
            }
            &__link:hover::before{
                    content: "";
                    width: 100%;
                    height: 2rem;
                    background: $color-black;
                    position: absolute;
                    z-index: -1;
                    bottom: 20%;
                    left: 0%;
    
                    } 
         }
      
     }
}
.nav__two{
    margin: 1rem 0 1rem 5rem;
    display: flex;
    align-items: center;
    &__ul{
        display: flex;
        align-items: center;
        &__item {
            list-style: none;
            &__link{
                position: relative;
                text-decoration: none;
                font-size: 1.3rem;
                font-weight: 100;
                padding: .7rem;
                margin: .5rem;
                letter-spacing: .1rem;
                text-transform: uppercase;
                color: $color-black;
                z-index: 1;
                &:hover{
                    color: $color-main;
                }
            } 
            &__link::before{
                content: "";
                width: 0%;
                height: 2rem;
                background: $color-black;
                position: absolute;
                z-index: -1;
                bottom: 20%;
                right: 0%;
                transition: .5s;
            }
            &__link:hover::before{
                    content: "";
                    width: 100%;
                    height: 2rem;
                    background: $color-black;
                    position: absolute;
                    z-index: -1;
                    bottom: 20%;
                    left: 0%;
    
            } 
        }
    }     
}

@media only screen and (min-width: 480px) and (max-width: 960px) {
    header{
        display: flex;
        flex-direction: column;
        height: 15vh;
        @include wab();
        position: relative;
        a{
         font-weight: 300;
        }
        img{
            height: auto;
            width: 12vw;
            margin: 1rem;
            position: absolute;
            left: 5%;
            top: 10%;
            margin: 1rem;
            
        }
    }
    .nav__one{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
        &__ul{
            display: flex;
            list-style: none;
            &__item {
                list-style: none; 
                &__link{
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $color-black;
                }
             }
         }
    }
    .nav__two{
        margin: 1rem .3rem;
        display: flex;
        align-items: center;
        position: absolute;
        left: 20%;
        top: 30%;
        &__ul{
            display: flex;
            &__item {
                list-style: none;
    
                &__link{
                    text-decoration: none;
                    color: $color-black;
                    text-transform: uppercase;
                    font-size: 1rem;
                } 
                &__link:hover{
                    background: $color-black;
                    color: $color-main;
                }
            }     
        }
    }

}

@media only screen and (max-width: 480px) {
    header{
        display: flex;
        position: relative;
        flex-direction: column-reverse;
        height: 30vh;
        @include wab();
        a{
         font-weight: 300;
        }
        img{
            position: absolute;
            left: 27%;
            top: 5%;
            width: 30vw;
            height: auto;
        }
    }
    .nav__one{
        display: flex;
        margin: 0;
        justify-content: center;
        &__ul{
            display: flex;
            list-style: none;
            align-items: center;
            margin-right: 0;
            &__item {
                list-style: none; 
                justify-content: center;
                align-items: center;
                &__link{
                    color: $color-black;
                    font-size: .7rem;
                }
             }
         }
    }
    .nav__two{
        display: flex;
        margin: 0;
        justify-content: center;
        &__ul{
            display: flex;
            &__item {
                list-style: none;
    
                &__link{
                    text-decoration: none;
                    color: $color-black;
                    text-transform: uppercase;
                    font-size: .7rem;
                    text-align: center;
                    letter-spacing: 0;
                } 
            }     
        }
    }

}