@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*{
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    h1{
        font-weight: 400;
        @include baw;
    }
    h2{
        @include baw;
        font-weight: 300;
        font-size: 3em;
        margin: .1rem;
        padding: 1rem;
        font-style: italic;   
        text-transform: uppercase;
    
    }
    p{
        font-style: normal;
        letter-spacing: .1rem;
    }
}
